:root {
  --vp-c-brand: #f9b127;
  --vp-c-brand-light: #f9b127;
  --vp-c-brand-dark: #ee9d3e;
  --vp-button-brand-bg: #ee9d3e;
  --vp-button-brand-hover-border: #f9b127;
  --vp-button-brand-active-border: #f9b127;
  --vp-button-brand-border: #f9b127;
}
